# File managed by Ansible
hostname: harbor.{{ domain | default('<your-domain>.com') }}
external_url: https://harbor.{{ domain | default('<your-domain>.com') }}

http:
  port: 80

# We disable HTTPS here as nginx-proxy will terminate it
# https:
#   port: 443
#   certificate: ...
#   private_key: ...

# These variables should be in config/secrets/ansible/extra_vars.sops.yml
harbor_admin_password: '{{ harbor.admin_password | default('ChangeThisPassword') }}'

database:
  password: '{{ harbor.db_password | default('ChangeThisDBPassword') }}'
  max_idle_conns: 100
  max_open_conns: 900
  conn_max_lifetime: 5m
  conn_max_idle_time: 0

data_volume: /data

trivy:
  ignore_unfixed: false
  skip_update: false
  skip_java_db_update: false
  offline_scan: false
  security_check: vuln
  insecure: false
  timeout: 5m0s

jobservice:
  max_job_workers: 10
  max_job_duration_hours: 24
  job_loggers: [ "STD_OUTPUT", "FILE" ]
  logger_sweeper_duration: 1

notification:
  webhook_job_max_retry: 3
  webhook_job_http_client_timeout: 3

log:
  level: info
  local:
    rotate_count: 50
    rotate_size: 200M
    location: /var/log/harbor

_version: 2.14.0 # (This is the .yml file version, not Harbor version)

proxy:
  components: [ "core", "jobservice", "trivy" ]

upload_purging:
  enabled: true
  age: 168h
  interval: 24h
  dryrun: false
