---
- name: Check latest Cilium CLI version if 'latest' is specified
  ansible.builtin.uri:
    url: "https://api.github.com/repos/cilium/cilium-cli/releases/latest"
    method: GET
    return_content: yes
  register: cilium_cli_latest_release
  when: cilium_cli_version == 'latest'

- name: Set Cilium CLI version fact
  ansible.builtin.set_fact:
    cilium_cli_version_resolved: "{{ (cilium_cli_latest_release.json.tag_name | default(cilium_cli_version)) | replace('v', '') }}"

- name: Set Cilium CLI download URL
  ansible.builtin.set_fact:
    cilium_cli_url: "https://github.com/cilium/cilium-cli/releases/download/v{{ cilium_cli_version_resolved }}/cilium-linux-amd64.tar.gz"

- name: Download and unarchive Cilium CLI
  ansible.builtin.unarchive:
    src: "{{ cilium_cli_url }}"
    dest: "{{ cilium_cli_bin_path }}"
    remote_src: yes
    mode: '0755'
    extra_opts:
      - cilium
  args:
    creates: "{{ cilium_cli_bin_path }}/cilium"
  become: yes # 'become: yes' здесь, так как /usr/local/bin требует sudo

- name: Install Cilium CNI using the CLI
  ansible.builtin.command: "{{ cilium_cli_bin_path }}/cilium install --version {{ cilium_cli_version_resolved }}"
  register: cilium_install_result
  changed_when: "'✅ Cilium was successfully installed!' in cilium_install_result.stdout"
