# /config/roles/falco_install_helm/templates/values.yaml.j2
---
driver:
  kind: modern-ebpf

collectors:
  enabled: true
  docker:
    enabled: false
  containerd:
    enabled: true
    socket: /run/containerd/containerd.sock

falco:
  grpc:
    enabled: true
  grpcOutput:
    enabled: true
  httpOutput:
    enabled: true
  jsonOutput: true
  jsonIncludeOutputProperty: true
  logLevel: info
  syscallEventDrops:
    actions:
      - log
    rate: 0.03333
    maxBurst: 1000
  rulesFile:
    - /etc/falco/falco_rules.yaml
    - /etc/falco/falco_rules.local.yaml
    - /etc/falco/k8s_audit_rules.yaml
