mailserver:
  domain: example.com
  hostname: mail.example.com
  postmaster_email: postmaster@example.com
  acme_email: admin@example.com

dev_domain_secret: dev.example.com

# IP-адреса для прокси
nginx_proxy_ips:
  k8s_ingress: "10.10.10.10:443"
  gitlab_ssh: "10.10.10.11:22"
  proxmox_ssh: "10.10.10.12:22"
  wiki_http: "http://10.10.10.13:3000"
  plantuml_http: "http://10.10.10.14:18080"
  proxmox_https: "https://10.10.10.12:8006"
  gitlab_http: "10.10.10.11:80"
  harbor_http: "10.10.10.15:80"
