# config/roles/kube_bench_run/tasks/main.yml
# /config/roles/kube_bench_run/tasks/main.yml
---
- name: Установить целевую версию kube-bench
  ansible.builtin.set_fact:
    kube_bench_target_version: >-
      {{ requested_version | default(kube_bench_version) }}

- name: Создать/Удалить неймспейс kube-bench
  kubernetes.core.k8s:
    name: "{{ kube_bench_namespace }}"
    api_version: v1
    kind: Namespace
    state: "{{ addon_state }}"

- name: Создать/Удалить Kube-bench Job
  kubernetes.core.k8s:
    state: "{{ addon_state }}"
    definition:
      apiVersion: batch/v1
      kind: Job
      metadata:
        name: kube-bench
        namespace: "{{ kube_bench_namespace }}"
      spec:
        template:
          spec:
            hostPID: true
            nodeSelector:
              kubernetes.io/os: linux
            tolerations:
            - key: node-role.kubernetes.io/master
              operator: Exists
              effect: NoSchedule
            - key: node-role.kubernetes.io/control-plane
              operator: Exists
              effect: NoSchedule
            containers:
            - name: kube-bench
              image: "aquasec/kube-bench:{{ kube_bench_target_version }}"
              command: ["kube-bench"]
              args: ["--benchmark", "{{ kube_bench_cis_benchmark }}"]
              volumeMounts:
              - { name: var-lib-etcd, mountPath: /var/lib/etcd, readOnly: true }
              - { name: var-lib-kubelet, mountPath: /var/lib/kubelet, readOnly: true }
              - { name: var-lib-kube-scheduler, mountPath: /var/lib/kube-scheduler, readOnly: true }
              - { name: var-lib-kube-controller-manager, mountPath: /var/lib/kube-controller-manager, readOnly: true }
              - { name: etc-systemd, mountPath: /etc/systemd, readOnly: true }
              - { name: lib-systemd, mountPath: /lib/systemd/, readOnly: true }
              - { name: srv-kubernetes, mountPath: /srv/kubernetes/, readOnly: true }
              - { name: etc-kubernetes, mountPath: /etc/kubernetes, readOnly: true }
              - { name: usr-bin, mountPath: /usr/local/mount-from-host/bin, readOnly: true }
              - { name: etc-cni-netd, mountPath: /etc/cni/net.d/, readOnly: true }
              - { name: opt-cni-bin, mountPath: /opt/cni/bin/, readOnly: true }
            restartPolicy: Never
            volumes:
            - { name: var-lib-etcd, hostPath: { path: "/var/lib/etcd" } }
            - { name: var-lib-kubelet, hostPath: { path: "/var/lib/kubelet" } }
            - { name: var-lib-kube-scheduler, hostPath: { path: "/var/lib/kube-scheduler" } }
            - { name: var-lib-kube-controller-manager, hostPath: { path: "/var/lib/kube-controller-manager" } }
            - { name: etc-systemd, hostPath: { path: "/etc/systemd" } }
            - { name: lib-systemd, hostPath: { path: "/lib/systemd" } }
            - { name: srv-kubernetes, hostPath: { path: "/srv/kubernetes" } }
            - { name: etc-kubernetes, hostPath: { path: "/etc/kubernetes" } }
            - { name: usr-bin, hostPath: { path: "/usr/bin" } }
            - { name: etc-cni-netd, hostPath: { path: "/etc/cni/net.d/" } }
            - { name: opt-cni-bin, hostPath: { path: "/opt/cni/bin/" } }
  register: kube_bench_job_result
  when: addon_state == "present" # Job'ы обычно не удаляют, а создают

- name: Ожидать завершения kube-bench job
  ansible.builtin.shell: kubectl wait --for=condition=complete job/kube-bench -n {{ kube_bench_namespace }} --timeout=300s
  changed_when: false
  when: kube_bench_job_result.changed

- name: Показать результаты Kube-bench
  ansible.builtin.shell: kubectl logs job/kube-bench -n {{ kube_bench_namespace }}
  register: kube_bench_logs
  changed_when: false
  when: kube_bench_job_result.changed

- name: Показать лог Kube-bench
  ansible.builtin.debug:
    msg: "{{ kube_bench_logs.stdout_lines }}"
  when: kube_bench_job_result.changed
