---
- name: Ensure prerequisites for Helm repository are installed
  ansible.builtin.apt:
    name:
      - apt-transport-https
      - gpg
      - curl
    state: present
    update_cache: yes

- name: Add Helm GPG key (Buildkite method)
  ansible.builtin.shell:
    cmd: curl -fsSL https://packages.buildkite.com/helm-linux/helm-debian/gpgkey | gpg --dearmor -o /usr/share/keyrings/helm-buildkite.gpg
    creates: /usr/share/keyrings/helm-buildkite.gpg
  changed_when: false

- name: Add Helm APT repository (Buildkite method)
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/helm-buildkite.gpg] https://packages.buildkite.com/helm-linux/helm-debian/any/ any main"
    state: present
    filename: helm-stable-debian


- name: Install Helm binary
  ansible.builtin.apt:
    name: helm
    state: present
    update_cache: yes

- name: Add Cilium Helm repository
  kubernetes.core.helm_repository:
    name: cilium
    repo_url: "{{ cilium_helm_repo_url }}"
    state: present

- name: Install Cilium CNI via Helm
  kubernetes.core.helm:
    name: cilium
    chart_ref: cilium/cilium
    chart_version: "{{ cilium_chart_version }}"
    release_namespace: "{{ cilium_namespace }}"
    create_namespace: false # kube-system уже должен существовать
    state: present
    wait: yes
    timeout: 10m
    values:
      # Значения, необходимые для CKS
      kubeProxyReplacement: "true"
      k8sServiceHost: "{{ ansible_fqdn }}" # (Или IP мастера)
      k8sServicePort: 6443
      bpf:
        masquerade: true
      securityContext:
        privileged: true
