# /config/roles/calico_install_manifest/tasks/main.yml
---
- name: Установить/Удалить Calico Operator (via Manifest)
  kubernetes.core.k8s:
    state: "{{ addon_state | default('present') }}" # <-- ИСПОЛЬЗУЕМ ПЕРЕМЕННУЮ
    src: "{{ calico_operator_manifest_url }}"
    wait: yes
    timeout: 5m
  register: calico_operator_install

- name: Установить/Удалить Calico Custom Resources (via Manifest)
  kubernetes.core.k8s:
    state: "{{ addon_state | default('present') }}" # <-- ИСПОЛЬЗУЕМ ПЕРЕМЕННУЮ
    src: "{{ calico_cr_manifest_url }}"
    wait: yes
    timeout: 5m
  register: calico_cr_install

- name: Ожидать готовности Calico (только при установке)
  when: addon_state == "present"
  block:
    - name: Wait for Calico Deployments to be available
      ansible.builtin.command: "kubectl wait --for=condition=Available deployment --all -n calico-system --timeout=300s"
      changed_when: true
      when: calico_operator_install.changed or calico_cr_install.changed

    - name: Wait for Calico DaemonSet to be ready
      ansible.builtin.command: "kubectl rollout status daemonset/calico-node -n calico-system --timeout=300s"
      changed_when: true
      when: calico_operator_install.changed or calico_cr_install.changed

- name: Показать результат
  ansible.builtin.debug:
    msg: "Calico Manifests ({{ addon_state | default('present') }}) complete."
