apiVersion: v1
kind: Pod
metadata:
  name: nginx-ro-rootfs
  labels:
    app: nginx
spec:
  containers:
  - name: nginx
    image: nginx:latest
    securityContext:
      readOnlyRootFilesystem: true
