# File managed by Ansible
services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: jenkins
    restart: unless-stopped
    # ❗️ IMPORTANT: Run as root inside container
    # to have access to host docker.sock.
    user: "root"
    ports:
      - "8080:8080" # Web UI
      - "50000:50000" # Agents
    volumes:
      # /srv/jenkins-home on host will belong to user 1000 (jenkins)
      - "{{ jenkins_home_dir }}:/var/jenkins_home"
      # Connect Docker host
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - jenkins-net

networks:
  jenkins-net:
    driver: bridge
