# Файл управляется Ansible
services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: jenkins
    restart: unless-stopped
    # ❗️ ВАЖНО: Запускаем от root внутри контейнера, 
    # чтобы у него был доступ к docker.sock хоста.
    user: "root" 
    ports:
      - "8080:8080" # Web UI
      - "50000:50000" # Agents
    volumes:
      # /srv/jenkins-home на хосте будет принадлежать user 1000 (jenkins)
      - "{{ jenkins_home_dir }}:/var/jenkins_home"
      # Подключаем Docker хоста
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - jenkins-net

networks:
  jenkins-net:
    driver: bridge
