[Unit]
Description=Create Vault Raft snapshot
Wants=vault.service
After=vault.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/sbin/vault-snapshot-backup.sh
Nice=10
IOSchedulingClass=best-effort
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
LimitCORE=0
