---
- name: Add Falco GPG key (Debian)
  # We use 'shell' to exactly reproduce the official
  # instructions you provided.
  ansible.builtin.shell: >
    curl -fsSL https://falco.org/repo/falcosecurity-packages.asc |
    gpg --dearmor -o /usr/share/keyrings/falco-archive-keyring.gpg
  args:
    # This line makes the task idempotent:
    # The command will not run if the result file already exists.
    creates: /usr/share/keyrings/falco-archive-keyring.gpg

- name: Add Falco repository (Debian)
  # We use 'apt_repository' because it is idempotent
  # and follows the official instructions
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/usr/share/keyrings/falco-archive-keyring.gpg] https://download.falco.org/packages/deb stable main"
    state: present
    filename: falcosecurity

- name: Install Falco (Debian)
  ansible.builtin.apt:
    name: "{{ 'falco=' ~ falco_package_version if falco_package_version else 'falco' }}"
    state: present
    update_cache: true
