---
# roles/set_timezone/tasks/main.yml

- name: Set the system timezone
  ansible.builtin.timezone:
    name: "{{ system_timezone }}"
  become: yes # Нужны права root

- name: Ensure time synchronization service (systemd-timesyncd) is active
  ansible.builtin.service:
    name: "{{ ntp_service_name }}"
    state: started
    enabled: yes
  become: yes
  when: ansible_service_mgr == "systemd" # Выполнять только на systemd-системах
