from="{{ vault_cert_sync_receiver_source_address }}",command="{{ vault_cert_sync_receiver_wrapper_path }}",no-port-forwarding,no-agent-forwarding,no-X11-forwarding,no-pty,no-user-rc {{ vault_cert_sync_receiver_authorized_key }}
