# See https://github.com/containerd/containerd/blob/main/docs/hosts.md
server = "{{ upstream_server }}"

[host."https://{{ harbor_hostname }}"]
  capabilities = ["pull", "resolve"]
  
[host."https://{{ harbor_hostname }}".header]
Authorization = ["Basic {{ harbor_auth }}"]
