# config/playbooks/install_cilium.yml
---
- name: Install or Uninstall Cilium CNI (Helm)
  # Helm runs only on master as it communicates with Kubernetes API
  hosts: k8s_master
  become: yes

  vars:
    # Defaults to 'present'.
    # To uninstall pass: -e "addon_state=absent"
    addon_state: "present"

  roles:
    - role: cilium_install_helm
