# config/playbooks/install_cilium.yml
---
- name: Install or Uninstall Cilium CNI (Helm)
  # Helm запускается только на мастере, так как он общается с Kubernetes API
  hosts: k8s_master
  become: yes

  vars:
    # По умолчанию 'present'.
    # Для удаления можно передать: -e "addon_state=absent"
    addon_state: "present"

  roles:
    - role: cilium_install_helm
