# config/playbooks/setup_mailserver.yml
---
- name: Setup Mailserver (docker-mailserver)
  hosts: mailservers
  become: yes

  vars:
    addon_state: "present"
    mailserver_domain: "<your-dev-domain>.dev"
    mailserver_hostname: "mail.<your-dev-domain>.dev"

  roles:
    - role: mailserver_setup
